body {
    /* background: linear-gradient(45deg, rgb(170, 145, 0), rgb(180, 180, 180)); */
    background: white;
    height: 0px;
}
.welcome, #guide, .about {
    text-align: center;
    color: black;
}

header {
    margin: auto;
    width: 650px;
    margin-bottom: 20px;
}

#end {
    display: block;
    margin: auto;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    
    border: 0px;
}

.que {
    visibility: hidden;
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: rgb(252, 220, 115);
}

#answ0, #answ1, #answ2, #answ3, #answ4 {
    color: black;
    display: block;
    margin: auto;
    width: 400px;
    height: 50px;
    background-color: rgb(194, 194, 194);
    border-radius: 50px;
    border: none;
    transition: 0.5s;
}

#q {
    display: block;
    margin-left: 10%;
    padding-top: 7%;
}

#answ0:hover, #answ1:hover, #answ2:hover, #answ3:hover, #answ4:hover {
    
    width: 375px;
    background-color: rgb(255, 70, 79);
    transition: 0.5s;
}


#answ0:active, #answ1:active, #answ2:active, #answ3:active, #answ4:active {
    background-color: rgb(165, 92, 92);
    transition: 0s;
}

#fileInput {
    margin-left: auto;
    margin-right: auto;
}

#fileOutput {
    visibility: hidden;
}



