body {
    background: linear-gradient(45deg, pink, white);
    height: 0px;
}
.welcome {
    text-align: center;
    color: rgb(43, 43, 44);
}
.about {
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}

#end {
    display: block;
    margin: auto;
    background-color: blue;
    color: white;
    font-weight: bolder;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    
    border: 0px;
}

.que {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 50px;
    background-color: azure;
}

#answ0, #answ1, #answ2, #answ3, #answ4 {
    display: block;
    margin: auto;
    width: 400px;
    height: 50px;
    background-color: rgb(149, 229, 255);
    border-radius: 50px;
    border: none;
}

#q {
    display: block;
    margin-left: 10%;
    padding-top: 7%;
}

#answ0:hover, #answ1:hover, #answ2:hover, #answ3:hover, #answ4:hover {
    width: 375px;
    background-color: rgb(255, 70, 79);
    transition: 0.5s;
}

#answ0:active, #answ1:active, #answ2:active, #answ3:active, #answ4:active {
    background-color: rgb(165, 92, 92);
    transition: 0s;
}